<section class="u-full-width">
  <img ng-src="{{ tea.imageUrl }}" alt="" />
  <div class="cartItem">
    <ul>
      <li><h6>{{ tea.name }}</h6></li>
      <li>Price: {{ tea.price }}</li>
      <li>Caffeine Scale: {{ tea.caffeineScale }}</li>
      <li>Ingredients: {{ tea.ingredients }}</li>
      <li>Rating: {{ tea.rating }}</li>
      <li>In Stock? {{ tea.inStock }}</li>
      <li>Categories: {{ tea.categories }}
        <ul>
          <li ng-repeat="category in tea.categories track by $index">{{ category }}</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="quantity">
    <label for="quanity">Quantity</label>
    <select name="quantity" id="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <input type="button" class="button" value="Add To Cart" ng-click="addItemToCart(tea)">
  </div>
</section>

<!-- customer filter to fix prices -->
<!-- create custom filter to change instock true/false to 'heck yes' or sorry, no -->
