<article id="searchBar" class="container">
  <form>
    <div class="row">

      <div class="six columns">
        <label for="category">Search by Category</label>
        <select
        id="category"
        class="twelve columns"
        name="select"
        ng-model="searchCategory"
        ng-options="value.category as value.category for value in categories">
          <option>--</option>
        </select>

      </div>

      <div class="six columns">
        <label for="teaName">Search By Name:</label>
        <input class="twelve columns" type="text" name="teaName" placeholder="tea" id="teaName" ng-model="search">
      </div>

    </div> <!-- end row div -->
  </form>
</article>
