/* for cart / checkout page */
#deleteItem button, #deleteAll {
  background-color: rgb(184, 58, 48);
  color: white;
}

#tea {
  display: flex;
  width: 80%;
  margin: auto;
}

#tea * {
  margin-left: auto;
}

#tea ul {
  list-style: none;
}

.cartItem {
  margin-top: 1rem;
}

.image, .cartItem {
  width: 40%;
  margin: auto;
}

/*#checkout {
  display: flex;
}*/
