[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

nav {
  width: 100%;
  margin-bottom: 4rem;
}

nav ul {
  font-size: 2rem;
  display: flex;
  list-style: none;
  width: 80%;
}

nav ul li {
  width: 30%;
  margin: auto;
}

nav a, .fa-leaf {
  color: rgb(36, 130, 85);
  text-decoration: none;
}

nav a:hover {
  color: rgb(250, 115, 39);
}

#body {
  display: flex;
  flex-flow: column;
}

#body * {
  margin-left: auto;
  margin-right: auto;
}
