/* angular tool to include css page per directive */

/* add custom styles */

nav {
  width: 100%;
  margin-bottom: 4rem;
}

nav ul {
  font-size: 2rem;
  display: flex;
  list-style: none;
  width: 80%;
}

nav ul li {
  width: 30%;
  margin: auto;
}
